exportPattern("^[[:alpha:]]+")

import(maxLik)
import(Matrix)
if (packageVersion("spdep") < "1.2") {
  import(spdep, except=c("errorsarlm"))
} else {
  import(spdep)
}
importFrom(spatialreg, errorsarlm)
import(sp)
importFrom("stats", "df", "dnorm", "lm", "logLik", "model.frame",
             "model.response", "pchisq", "pnorm", "printCoefmat",
             "residuals", "var")
importFrom("graphics", "lines")
S3method(fitted, ssfa) 
S3method(print, ssfa)
S3method(print,summary.ssfa)
S3method(residuals, ssfa)
S3method(summary, ssfa)
